@import url("https://fonts.cdnfonts.com/css/chirp-2");

:root {
  --black: #000;
  --white: #fff;
  --headings-white: #e7e9ea;
  --blue: #1f9bf0;
  --background-grey: #212327;
  --light-grey: #71767a;
  --grey: #181818;
}

body {
  background-color: var(--black);
  color: var(--white);
  margin: 0;
  font-family: "Chirp", sans-serif;
  overflow-x: hidden;
  display: flex;
}

/* Left Sidebar */
.left-sidebar{
  width: 30vw;
  height: 100vw;
  left: 0;
  top: 0;
  border-right: 1.5px solid var(--background-grey);
  position: sticky;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.links-flex{
 display: flex;
 align-items: flex-start;
 margin-top: 0.5rem 1rem;
 cursor: pointer; 
 width: 16rem;
 flex-direction: column;
}

.white-logo{
  padding: 1.8rem;
  height: 1.8rem;
  border-radius: 50%;
  gap: 0;
  margin-bottom: 0%;
}

/* Twiiter Logo On Hovered */
.white-logo:hover{
  background-color: var(--background-grey);
 }

/* Twitter Logo */
.twitter-white-logo{
  height: 2rem;
  width: 2rem;
 } 

/* # and Settings Icon Allignment */
.link-flex{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  margin: 0.5rem 1rem;
  padding: 0rem 1rem;
  padding-right:2rem ;
}

/* # and Settings On Hovered*/
.link-flex:hover{
  background-color: var(--background-grey);
  border-radius: 2rem;
}

.link-icon{
  width: 1.8rem;
  height: 1.8rem;
}

.link-text{
  font-size: 1.3rem;
  font-weight: 600;
  margin: 1rem 1rem;
}

/* main Feed */
.middle-section {
  width: 40%;
  background-color: var(--black);
}

.top-nav {
  position: sticky;
  top: 0;
  background-color: rgba(0, 0, 0, 0.8) !important;
  backdrop-filter: blur(0.5rem);
  -webkit-backdrop-filter: blur(0.5rem);
}

.search-flex{
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.search-bar{
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  display: flex;
  flex: 1;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
  background-color: var(--background-grey);
}

.search-bar input{
  flex: 1;
  background-color: var(--background-grey);
  border:none;
  color: var(--light-grey);
  font-family: "Chirp", sans-serif;
  font-size: 1rem;
  cursor: pointer;
}
.search-bar input:focus{
  outline: none;
}

.search-icon,
.setting-icon{
  height: 1.2rem;
  width: 1.2rem;
  cursor: pointer;
}


/* Right Sidebar */
.right-sidebar{
  width: 30vw;
  height: 100vw;
  right: 0;
  top: 0;
  border-left: 1.5px solid var(--background-grey);
  position: sticky;
}

.signup-container{
  display:block;
  padding: 1rem;
  border: 1.5px solid var(--background-grey);
  width: 80%;
  margin: 1rem auto;
  border-radius: 1rem;
  margin-bottom: 1rem;
}

.signup-container h3{
  margin: 0;
}

.signup-container p,
.right-links p,
.more-p-tag{
  color: var(--light-grey);
  font-size: 0.8rem;
  margin-bottom: 1rem;
}

/* SIgnup with Google */
.signup-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2rem;
  margin: 1rem 0rem;
  padding: 0.8rem 1rem;
  gap: 0.5rem;
  background-color: var(--white);
}

/* Google Icon */
.signup-btn-icon{
  width: 1.5rem;
  height: 1.5rem;
}

.signup-btn p{
  font-size: 1rem;
  color: var(--black);
  margin: 0;
  line-height: 1.2rem;
}

.signup-btn:hover{
  background-color: var(--headings-white);
  cursor: pointer;
}

/* Twitter Hyperlinks */
.twitter-links{
  color: var(--blue);
  text-decoration: none;
}

.twitter-links:hover{
  text-decoration: underline;
}

/* Footer Right */
.right-links{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  width: 80%;
  gap: 1rem;
  margin: 0rem 10%;
}

.right-links p{
  min-width: 5rem;
  margin-bottom: 0;
  margin-top: 0.25rem;
  cursor: pointer;
}

.right-links p:hover, 
.more-p-tag:hover{
  text-decoration: underline;
}

/* More... Dropdown Styling */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--black);
  min-width: 12rem;
  border-radius: 0.5rem;
  overflow: auto;
  box-shadow: rgb(255 255 255 / 20%)0px 0px 15px, rgb(255 255 255 / 15%) 0px 0px 3px 1px;
  z-index: 1;
}

.dropdown-content a {
  color: var(--white);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: var(--background-grey)}

.show {display: block;}

/* Tabs */

/* Style the tab */
.tab {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow-x: auto;
  background-color: var(--black);
  margin-bottom: 0.1rem;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 1rem;
  color: var(--light-grey);
  border-bottom: 4px solid var(--black);
  border-bottom-left-radius: 0.2rem;
  border-bottom-right-radius: 0.2rem;
  flex: 1;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: var(--background-grey);
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: var(--black);
  color: var(--white);
  font-weight: 600;
  border-bottom: 4px solid var(--blue);
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding-bottom: 4rem;
}

.tabs-main-img {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.7)
    ),
    url("	https://pbs.twimg.com/semantic_core_img/1585990597197930496/fl4Fe0Tm?format=jpg&name=900x900");
  height: 380px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-position: center center;
  background-size: cover;
}

.tabs-main-img h3 {
  margin-bottom: 0;
  font-size: 0.8rem;
  font-weight: normal;
}

.tabs-main-img p {
  margin-top: 0.5rem;
  font-weight: 800;
  font-size: 1.5rem;
}

.trending-box {
  margin-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1.5px solid var(--background-grey);
}

.trending-box:hover {
  background-color: #080808;
}

.trending-heading {
  margin: 0rem 1rem;
  font-weight: light;
  font-size: 1rem;
  color: var(--light-grey);
}

.trending-text {
  margin: 0.5rem 1rem;
  font-size: 0.9rem;
  font-weight: 800;
}

.news-main-img {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.7)
    ),
    url("	https://pbs.twimg.com/semantic_core_img/1585334967164444672/mSLl_zaP?format=jpg&name=small");
  height: 380px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-position: center center;
  background-size: cover;
}

.news-main-img p {
  margin-top: 0.5rem;
  font-weight: 800;
  font-size: 1.5rem;
}

.sports-box {
  margin-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1.5px solid var(--background-grey);
}

.sports-box:hover {
  background-color: #080808;
}

.sports-heading {
  margin: 0rem 1rem;
  font-weight: light;
  font-size: 1rem;
  color: var(--light-grey);
}

.sports-text {
  margin: 0.5rem 1rem;
  font-size: 0.9rem;
  font-weight: 800;
}



/* Bottom Signup Div */

.bottom-signup {
  position: fixed;
  bottom: 0;
  width: 100vw;
  background-color: var(--blue);
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10%;
}

.bottom-text h3 {
  margin: 0;
  font-size: 1.2rem;
}

.bottom-text p {
  font-size: 0.8rem;
  margin: 0.35rem 0rem;
  margin-bottom: 0rem;
}

.signup-btn-flex {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

.btn-outlined {
  padding: 0.5rem 1.5rem;
  border: 2px solid var(--white);
  border-radius: 2rem;
  cursor: pointer;
}

.btn-outlined:hover {
  background-color: var(--white);
  color: var(--black);
  transition: all 0.3s;
}

.btn {
  padding: 0.5rem 1.5rem;
  border: 2px solid var(--white);
  border-radius: 2rem;
  background-color: var(--white);
  color: var(--black);
  cursor: pointer;
}

.btn:hover {
  background-color: var(--blue);
  color: var(--white);
  transition: all 0.3s;
}

/* Media Queries */

@media only screen and (max-width: 1200px) {
  .left-sidebar {
    width: 4rem !important;
  }
  .link-text {
    display: none;
  }
  .links-flex {
    margin: 0;
  }
  .link-flex {
    padding: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
  }
  .right-sidebar {
    width: 70%;
  }

  .middle-section {
    width: 100%;
  }
}

@media only screen and (max-width: 1000px) {
  .right-sidebar {
    display: none;
  }
}

@media only screen and (max-width: 700px) {
  .bottom-signup {
    width: 100%;
    padding: 1rem 0rem;
  }
  .bottom-text {
    display: none;
  }

  .tabs-main-img {
    height: 180px;
    padding: 0.5rem;
  }

  .tab {
    padding: 0rem 1rem;
  }

  .tab button {
    min-width: 6rem;
  }

  .tabs-main-img p {
    margin-bottom: 0.5rem;
  }

  .trending-heading,
  .trending-text,
  .Sports-heading,
  .Sports-text {
    margin: 0.5rem 0.5rem;
  }
}


